fastapi==0.123.0
uvicorn[standard]==0.37.0
pydantic==2.12.5
pydantic-settings==2.7.1
python-multipart==0.0.20
httpx[socks,http2,zstd,cli,brotli]==0.28.1
loguru==0.7.3
chromadb==1.1.0
ollama
numpy
scikit-learn
beautifulsoup4
lxml
transformers
sentence-transformers
torch
websockets
python-socketio
aiofiles
python-jose[cryptography]
cryptography
bcrypt
argon2-cffi
passlib[bcrypt]
python-dotenv

